

<script src='@routes.Assets.versioned("js/jquery-1.9.1.js")'></script>
<script src='@routes.Assets.versioned("js/jquery-migrate-1.2.1.min.js")'></script>
<script src='@routes.Assets.versioned("js/jquery-ui.js")'></script>
<!--loading bootstrap js-->
<script src='@routes.Assets.versioned("vendors/bootstrap/js/bootstrap.min.js")'></script>
<script src='@routes.Assets.versioned("vendors/bootstrap-hover-dropdown/bootstrap-hover-dropdown.js")'></script>
<script src='@routes.Assets.versioned("js/html5shiv.js")'></script>
<script src='@routes.Assets.versioned("js/respond.min.js")'></script>
<script src='@routes.Assets.versioned("vendors/metisMenu/jquery.metisMenu.js")'></script>
<script src='@routes.Assets.versioned("vendors/slimScroll/jquery.slimscroll.js")'></script>
<script src='@routes.Assets.versioned("vendors/jquery-cookie/jquery.cookie.js")'></script>
<script src='@routes.Assets.versioned("js/jquery.menu.js")'></script>
<script src='@routes.Assets.versioned("vendors/jquery-pace/pace.min.js")'></script>
<!--LOADING SCRIPTS FOR PAGE-->
<script src='@routes.Assets.versioned("vendors/jquery-jvectormap/jquery-jvectormap-1.2.2.min.js")'></script>
<script src='@routes.Assets.versioned("vendors/jquery-jvectormap/jquery-jvectormap-world-mill-en.js")'></script>
<script src='@routes.Assets.versioned("vendors/jquery-jvectormap/gdp-data.js")'></script>
<script src='@routes.Assets.versioned("vendors/jquery-knob/jquery.knob.js")'></script>
<script src='@routes.Assets.versioned("vendors/jquery-animateNumber/jquery.animateNumber.min.js")'></script>
<script src='@routes.Assets.versioned("vendors/flot-chart/jquery.flot.js")'></script>
<script src='@routes.Assets.versioned("vendors/flot-chart/jquery.flot.categories.js")'></script>
<script src='@routes.Assets.versioned("vendors/flot-chart/jquery.flot.pie.js")'></script>
<script src='@routes.Assets.versioned("vendors/flot-chart/jquery.flot.tooltip.js")'></script>
<script src='@routes.Assets.versioned("vendors/flot-chart/jquery.flot.resize.js")'></script>
<script src='@routes.Assets.versioned("vendors/flot-chart/jquery.flot.fillbetween.js")'></script>
<script src='@routes.Assets.versioned("vendors/flot-chart/jquery.flot.stack.js")'></script>
<script src='@routes.Assets.versioned("vendors/flot-chart/jquery.flot.spline.js")'></script>
<script src='@routes.Assets.versioned("vendors/skycons/skycons.js")'></script>
<script src='@routes.Assets.versioned("vendors/jquery-news-ticker/jquery.news-ticker.js")'></script>
<script src='@routes.Assets.versioned("js/index.js")'></script>
<!--CORE JAVASCRIPT-->
<script src='@routes.Assets.versioned("js/main.js")'></script>
<script src='@routes.Assets.versioned("js/holder.js")'></script>
<script type="text/javascript")'>(function (i, s, o, g, r, a, m) {
i['GoogleAnalyticsObject'] = r;
i[r] = i[r] || function () {
(i[r].q = i[r].q || []).push(arguments)
}, i[r].l = 1 * new Date();
a = s.createElement(o),
m = s.getElementsByTagName(o)[0];
a.async = 1;
a.src = g;
m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
ga('create', 'UA-145464-11', 'next-themes.com');
ga('send', 'pageview');


</script>