<div id="template-setting"><a href="#" data-toggle="dropdown" class="btn-template-setting"><i class="fa fa-tint"></i></a>

    <div class="content-template-setting"><h4 class="block-heading">Theme Colors</h4>
        <ul class="color-theme list-unstyled list-inline">
            <li data-style="red" data-hover="tooltip" title="Red - Green" class="red-green"></li>
            <li data-style="orange" data-hover="tooltip" title="Orange - Yellow" class="orange-yellow"></li>
            <li data-style="green" data-hover="tooltip" title="Green - Pink" class="green-pink"></li>
            <li data-style="yellow" data-hover="tooltip" title="Yellow - Grey" class="yellow-grey"></li>
            <li data-style="blue" data-hover="tooltip" title="Blue - Yellow" class="blue-yellow"></li>
            <li data-style="violet" data-hover="tooltip" title="Violet - Green" class="violet-green"></li>
            <li data-style="pink" data-hover="tooltip" title="Pink - Dark" class="pink-dark"></li>
            <li data-style="grey" data-hover="tooltip" title="Grey - Red" class="grey-red"></li>
            <li data-style="default" data-hover="tooltip" title="Dark" class="dark-primary"></li>
            <li data-style="white" data-hover="tooltip" title="White" class="white-primary"></li>
            <li data-style="pink-white" data-hover="tooltip" title="Pink - White" class="pink-white"></li>
            <li data-style="white-pink" data-hover="tooltip" title="White - Pink" class="white-pink"></li>
        </ul>
    </div>
</div>